body{ padding: 0; margin: 0; background-color: rgb(55,52,53); font-family: 'Josefin Sans', sans-serif;}

.navbar {width: 75%; margin: 0 auto; position: inherit; }

.nav-link { color: #fff; }

hr { width: 75%; height:2px; border-width:0; color:gray; background-color:rgb(255,159,0); }

.container { width: 75%; margin: 10px auto; }

.container p{ font-family: Josefin Sans; line-height: 30px; color: #fff; margin-top: 40px; }

samp { font-family: Josefin Sans; color: rgb(255,159,0); font-weight: 800; }

.link { text-decoration: none; color: rgb(0,175,239); }

.btn { float: right; background-color: transparent; width: 100px; padding: 2px; text-align: center; border-radius: 25px; border: 2px solid #fff; color: #fff; text-decoration: none; font-size: 15px; margin-top: 10px; transition: 0.5s ease; }
	
.btn:hover{ background-color: #fff; color: rgb(0,175,239); border: none; font-weight: 800; }
