.about{
    margin-top: 100px;
    overflow: hidden;

    img{
        width: 100%;
    }

    &-para{
        background-color: $primaryColor;
        padding: clamp(25px, 45vw, 80px);

        h1{
            font-size: clamp(15px, 3vw, 2rem);
            font-family: Montserrat-Bold;
            color: $fontGray;
        }
        p{
            font-size: clamp(15px, 4vw, 1.2rem);
            font-family: Montserrat Regular;
            
        }

        ol{
            line-height: 2;
        }
        
    }
}

.Conducts{
    img{
        width: 100%;
    }
}

.map{
    overflow: hidden;
    position: relative;    
    height: 100%;

    img{
    
        width: 100%;
    }
    p{
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}
